<ion-header>
  <ion-toolbar color="primary">
    <ion-button>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-button>
    <ion-title>
        Activity Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="GetDailyData()">
  <ion-item>
      <ion-label position="floating">Enter your activity</ion-label>
      <ion-input type="text" (ionInput)="updateActivity($event)" required placeholder="Running"></ion-input>
  </ion-item>
  
  <!-- Button to calculate calories -->
  <ion-button expand="block" type = "submit">Calculate Calories</ion-button>
  </form>
  <!-- Display calculated calories -->
 
    <ion-list *ngIf="caloriesInfo">
      <ion-item *ngFor="let item of caloriesInfo">
        <ion-label>
          <h2>{{ item.name }}</h2>
          <p>Calories per hour: {{ item.calories_per_hour }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
 
</ion-content>
