<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Health Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div id="welcome-message">
    <h1>Welcome to Health Tracker!</h1>
    <p>Your personal companion for tracking health and wellness.</p>
  </div>


  <div class="quick-access">
    <ion-button expand="block" routerLink="/activity-tracker" routerDirection ="forward" color="primary">
      Activity Tracker
    </ion-button>
    <ion-button expand="block" routerLink="/nutrition-tracker" color="primary">
      Nutrition Tracker
    </ion-button>
    <ion-button expand="block" routerLink="/mindfulness-meditation" color="primary">
      Mindfulness & Meditation
    </ion-button>
    <ion-button expand="block" routerLink="/settings" color="primary">
      Settings
    </ion-button>
  </div>
</ion-content>
