/* Welcome Message Styles */
#welcome-message {
  text-align: center;
  margin-top: 50px; /* Increase top margin for more space */
  margin-bottom: 30px; /* Add bottom margin for separation */
}

#welcome-message h1 {
  font-size: 28px; /* Increase font size for heading */
  color: #333;
  margin-bottom: 10px; /* Add bottom margin for separation */
}

#welcome-message p {
  font-size: 18px; /* Increase font size for paragraph */
  color: #666;
}

/* Quick Access Buttons Styles */
.quick-access {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px; /* Increase top margin for more space */
}

.quick-access ion-button {
  margin-top: 20px; /* Increase top margin between buttons */
  width: 80%;
}

/* Button Colors */
ion-button {
  --color: #007bff;
}

ion-button[color="primary"] {
  --background: #007bff;
}

ion-button[color="primary"]:hover {
  --background: #0056b3;
}
